= form '/models', :create, enctype: "multipart/form-data", class: "form-horizontal"

.control-group
  = label :business_model, :raw_xml, "XML Model", class: "control-label"
  .controls
    = input :business_model, :raw_xml, type: "file", value: @model.raw_xml

.control-group
  = label :business_model, :rule_definitions, "YAML Rule Definitions", class: "control-label"
  .controls
    = textarea :business_model, :rule_definitions, @model.rule_definitions || "", style: "width: 400px; height: 400px"

.control-group
  .controls
    = submit "Create", class: "btn btn-primary"

:javascript
  // fix bug with adding spaces before a pattern_name
  var yaml = $("#business_model_rule_definitions").text();
  $("#business_model_rule_definitions").text(yaml.replace(/^\s+([a-zA-Z0-9])/m, '$1'));
